.imagenes{
    width: 50%;
    height: 50%;
    justify-content: center;
    display: flex;
}

.etiquetas{
    justify-content: center;
    display: flex;
    float: left;
    margin: 3%;
    overflow: scroll;
}
.title{
    text-align: center;
    color: black;
    font-size: 60px;
    margin: 3%;
    position: relative;
}

.slide{
    margin: auto;
    width: 100%;
}
.father{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.cardStyleEvent{
    width: 18%;
    -webkit-box-shadow: 0px 0px 39px -4px rgba(56,189,194,1);
    -moz-box-shadow: 0px 0px 39px -4px rgba(56,189,194,1);
    box-shadow: 0px 0px 39px -4px rgba(56,189,194,1);
    float: left;
    margin: 3%;
}

.containerCards{
    margin-top: 5%;
}

.card-body{
 overflow: scroll;
}