.fondo{
    background-image: url(../images/fondo/mix.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}
.titulo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin: 3%;
    position: relative;
    width: auto;
}
@media (max-width: 1141px) {
    .titulo{
        flex-flow: column;
        font-size: 30px;   
    }
}
.datosEvento{
    justify-content: flex-end;
    display: grid;
    margin: 10px;
    padding: 35px;
    list-style: none;
    position: absolute;
    right: 13px;
}
@media (max-width: 1141px) {
    .datosEvento{
        flex-flow: column;           
    }
}
.datosEvento1{
    justify-content: flex-end;
    display: grid;
    margin: 10px;
    padding: 35px;
    list-style: none;
    position: absolute;
    left: 13px;    
}
@media (max-width: 1141px) {
    .datosEvento1{
        flex-flow: column;
    }
}
.slidesCarousel{
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 28px 1px rgba(46,189,255,1);
    -moz-box-shadow: 0px 0px 28px 1px rgba(46,189,255,1);
    box-shadow: 0px 0px 28px 1px rgba(46,189,255,1);
}
@media (max-width: 500px){
    .slidesCarousel{
        position: relative;
        top: 0px;
        width: 72%;
    }
}
.proxEventos{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5%;
    flex-flow: row;
}
@media (max-width: 1141px) {
    .proxEventos{
        flex-flow: column;
        margin: 0;
        padding: 0;
    }
}
.event{
    margin: auto 1%;
    -webkit-box-shadow: 0px 0px 28px 16px rgba(129,65,224,1);
    -moz-box-shadow: 0px 0px 28px 16px rgba(129,65,224,1);
    box-shadow: 0px 0px 28px 16px rgba(129,65,224,1);



    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.containerCards{
    display: flex;
    flex-wrap: wrap;
}
.border{
    border-radius: 10px;
}
.imgCard{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-radius: 10px;
}
@media (max-width: 500px){
    .imgCard{
        border-radius: 10px;
        justify-content: center;
        display: block;
        margin-left: 15%;
        width: 60%;
        }
}
.btn-primary{
    color: #fff;
    background-color: pink;
    border-color: black;
}
.pCards {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
    color: black;
}
@media (max-width: 500px){
    .imgCard{
        border-radius: 10px;
        margin: auto;
        }
}
@media (max-width: 500px){
    .dataEventResponsive{
        display: flex;
        flex-flow: column;
        position: relative;
        top: 140px;

    }
}
@media (max-width: 500px){
    .dataandCarouserl{
        display: flex;
        flex-flow: column;
        margin-bottom: 45%;
    }
}

.card-body {
    background: linear-gradient(90deg, rgb(235, 180, 230) 0%, rgb(104, 255, 247) 74%);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}